{% extends "base.html.twig" %}

{% block title %}Destinations{% endblock %}

{% block javascript %}
    <script src="/js/main.js" defer></script>
{% endblock %}

{% block header %}
    <header class="header__main">
        <section id="header">
            <nav>
                <p>Destinations</p>
                <ul>
                    <li><a href="#header" class="active active-light" data-color="light">Accueil</a></li>
                    <li><a href="#destinations" data-color="light">Destinations</a></li>
                    <li><a href="" data-color="light">A propos</a></li>
                    <li><a href="#contact" data-color="light">Contact</a></li>
                    <a href="/user" class="user-link"><span class="user-span"><span class="fa-solid fa-user"></span></span></a>
                </ul>
                <div class="fixed-nav">
                    <div>
                        <p>Destinations</p>
                        <ul>
                            <li><a href="#header" data-color="dark">Accueil</a></li>
                            <li><a href="#destinations" data-color="dark">Destinations</a></li>
                            <li><a href="" data-color="dark">A propos</a></li>
                            <li><a href="#contact" data-color="dark">Contact</a></li>
                            <a href="/user" class="user-link"><span class="user-span"><span class="fa-solid fa-user"></span></span></a>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="title">
                <h1>We show ! You go !</h1>
                <p>Réalisé from scratch en PHP orienté objet, avec autoload PSR-4, Twig, SASS, et un peu de JavaScript.</p>
            </div>
        </section>
    </header>
{% endblock %}
{% block body %}
    <main>
        <section id="destinations">
            <h2>Nos destinations</h2>
            <ul>
                <li>Tout voir</li>
                <li>Forêt</li>
                <li>Montagne</li>
                <li>Lac</li>
                <li>Océan</li>
                {% if user.roles == 'ROLE_ADMIN' %}
                    <li><a href="http://destinations/post/new"><span class="fa-solid fa-plus"></span></a></li>
                {% endif %}
            </ul>
            <div class="grid">
                {% for post in posts|reverse %}
                    <article>
                        <img src="/uploads/{{ post.image }}" alt="">
                        <div class="img-hover">
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.hook }}</p>
                            <a href="/post/{{ post.slug }}">ZOOM</a>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>

        <section id="contact">
            <h2>Nous contacter</h2>
            <div class="contact-container">
                <form action="">
                    <h3>Nous écrire</h3>
                    <input type="text" name="name" id="name" placeholder="Nom">
                    <input type="email" name="email" id="email" placeholder="Adresse email">
                    <textarea name="message" id="message" cols="30" rows="5" placeholder="Votre message"></textarea>
                    <button>Envoyer</button>
                </form>
                <div class="contact-info">
                    <div class="contact-info-container">
                    <h3>Contact</h3>
                    <h4>Email</h4>
                    <p><a href="mailto:adresse@mail.com?subject=Mon choix de destination">adresse@mail.com</a></p>
                    <h4>Téléphone</h4>
                    <p>01.23.45.67.89</p>
                    <h4>Adresse</h4>
                    <p>12 rue des chats<br>
                    76100 Rouen</p>
                    <ul>
                        <li><span class="fa-brands fa-facebook-f"></span></li>
                        <li><span class="fa-brands fa-twitter"></span></li>
                        <li><span class="fa-brands fa-instagram"></span></li>
                    </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}