{% extends "base.html.twig" %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <header>
        <section>
            <nav>
                <p>Mon blog en POO</p>
                <ul>
                    <li><a href="">Accueil</a></li>
                    <li><a href="">Articles</a></li>
                    <li><a href="">A propos</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
            <div class="title">
                <h1>Un site en POO</h1>
                <p>Réalisé from scratch en PHP orienté objet, avec autoload PSR-4, Twig, SASS, et un peu de JavaScript.</p>
                <p>Inspiré du template <a href="https://medialoot.com/preview/sundown/index.html" target="_blank">Sundown</a> de Bootstrap 4.</p>
            </div>
        </section>
    </header>
    <main>
        <section></section>
    </main>
{% endblock %}