@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
main section .grid article .img-hover, main section .contact-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, input, textarea {
  font-family: 'Montserrat', sans-serif;
}

footer {
  margin-top: auto;
  background-color: #252629;
  color: #a0a0a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  color: #a0a0a0;
}

footer section {
  min-height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer section ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: .1rem;
  font-weight: 200;
}

footer section ul li a {
  padding: 1em;
  text-decoration: none;
}

footer section ul li a:hover {
  color: #e8ba2d;
}

footer section .divider {
  width: 100%;
  height: .05em;
  background-color: #46484a;
}

footer section .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer section .container p {
  font-size: .9rem;
  font-weight: 200;
}

footer section .container p a:hover {
  color: #e8ba2d;
}

footer section .container ul li {
  width: 1em;
  height: 1em;
  margin: -1em .2em;
  padding: .7em;
  color: #f7f7f8;
  font-size: 1.4em;
}

footer section .container ul li:nth-child(3) {
  margin-left: .4em;
}

footer section .container ul li:hover {
  cursor: pointer;
  color: #e8ba2d;
}

html {
  scroll-behavior: smooth;
}

section {
  width: 100%;
  max-width: 1480px;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__main {
  background: url("../img/background.jpg") center;
  background-size: cover;
}

header {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header section#header {
  min-height: 100vh;
}

header section nav {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section nav p {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
}

header section nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header section nav ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: .1rem;
  font-weight: 200;
}

header section nav ul li a {
  padding: 1em;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
}

header section nav ul li a.active-light {
  color: white;
}

header section nav ul li a.active-dark {
  color: black;
}

header section nav ul .indicator {
  bottom: -1.2em;
  left: 0;
  position: absolute;
  height: 4px;
  width: 100px;
  background-color: rgba(232, 186, 45, 0.75);
  border-radius: 2px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

header section nav .fixed-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em 0;
  border-bottom: 1px solid rgba(70, 72, 74, 0.5);
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  z-index: 10;
}

header section nav .fixed-nav.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header section nav .fixed-nav div {
  width: 100%;
  max-width: 1480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section nav .fixed-nav div p, header section nav .fixed-nav div a {
  color: #46484a;
}

header section .title {
  text-align: center;
  margin: auto;
}

header section .title h1 {
  margin-bottom: .2em;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: .2rem;
  font-weight: 500;
}

header section .title p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.25rem;
  font-weight: 200;
}

header section .title p:nth-child(3) {
  margin-top: .2em;
}

header section .title p a {
  color: rgba(255, 255, 255, 0.75);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.visible {
  margin-top: 3.5em;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section:nth-child(2) {
  min-height: 75vh;
}

main section h2 {
  margin: 2.5em 0 .5em;
  color: #46484a;
  font-size: 2.8rem;
  font-weight: 500;
}

main section ul {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section ul li {
  padding: 1em;
  list-style: none;
  color: #696b6e;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 300;
  cursor: pointer;
}

main section ul li:nth-child(1) {
  color: #e8ba2d;
}

main section .grid {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

main section .grid article {
  margin: .1em;
  position: relative;
  overflow: hidden;
}

main section .grid article:hover * {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main section .grid article:hover .img-hover {
  opacity: 1;
}

main section .grid article img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main section .grid article .img-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
}

main section .grid article .img-hover h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

main section .grid article .img-hover p {
  margin: 1em 0 1.5em;
  font-size: .9rem;
  font-weight: 200;
}

main section .grid article .img-hover a {
  padding: .5em .7em;
  border: 1px solid white;
  border-radius: 2em;
  color: white;
  font-size: .7rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .2rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main section .grid article .img-hover a:hover {
  background-color: white;
  color: #46484a;
}

main section .contact-container {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section .contact-container form {
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section .contact-container form h3 {
  width: 100%;
  margin-bottom: 0;
}

main section .contact-container form input {
  width: calc(50% - 1em);
}

main section .contact-container form input:nth-child(2) {
  margin-right: 2em;
}

main section .contact-container form textarea {
  width: 100%;
}

main section .contact-container form input, main section .contact-container form textarea {
  padding: 1em;
  border: 1px solid #dfe1e5;
  border-radius: .3rem;
  font-size: .9rem;
  color: #696b6e;
}

main section .contact-container form input:focus, main section .contact-container form textarea:focus {
  border-color: #e8ba2d;
  outline: none;
}

main section .contact-container form button {
  padding: .75rem 1.5rem;
  border: 1px solid #e8ba2d;
  border-radius: 2em;
  background-color: #e8ba2d;
  color: white;
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .2rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

main section .contact-container form button:hover {
  cursor: pointer;
  background-color: #d5a523;
}

main section .contact-container .contact-info {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .contact-container h3 {
  margin: 1em 0;
  color: #46484a;
  font-size: 2rem;
  font-weight: 500;
}

main section .contact-container h4 {
  margin: 1.5em 0;
  color: #46484a;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

main section .contact-container p {
  color: #696b6e;
  font-size: .9rem;
  font-weight: 200;
}

main section .contact-container p a {
  color: #e8ba2d;
  text-decoration: none;
}

main section .contact-container p a:hover {
  color: #0056b3;
  text-decoration: underline;
}

main section .contact-container ul li {
  width: 1em;
  height: 1em;
  margin: 1em .4em 1em 0em;
  padding: .7em;
  border: 0.05em solid #dfe1e5;
  border-radius: 50%;
  color: #696b6e;
  font-size: 1.4em;
}

main section .contact-container ul li span {
  margin-left: .1em;
}

main section .contact-container ul li:hover {
  color: #e8ba2d;
  border-color: #e8ba2d;
}

main.visible h2 {
  margin: 0.53em 0;
  color: #46484a;
  font-size: 2.8rem;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */