.admin-container {
    width: 75%;
    min-height: 50vh;

    ul {
        justify-content: space-evenly;
    }

    article {
        display: none;
        &.visible {
            display: block;
        }
    }

    table {
        width: 100%;
        margin-bottom: 2em;
        border-spacing: 0;
        color: rgb(70, 72, 74);

        tr:nth-child(1) th {
            padding-bottom: .5em;
        }

        tr:not(:nth-child(1)) th {
            font-weight: 400;
        }

        th {
            border-bottom: 1px solid rgb(223, 225, 229);
            padding-top: .25em;
        }

        a {
            color: rgb(70, 72, 74);
            font-weight: 700;
            text-decoration: none;
            &:hover {
                color: rgb(232, 186, 45);
                text-decoration: underline;
            }
        }

        img {
            width: 50px;
            &.p5 {
                padding: .522em 0;
            }
        }

        span {
            &.fa-pen-to-square {
                color: rgb(232, 186, 45);
            }
            &.fa-trash-can {
                color: rgb(220, 53, 69);
                &:hover {
                    cursor: pointer;
                }
                &.m5 {
                    margin-left: .5em;
                }
            }
        }
    }
}