header {
    background: url("../img/background.jpg") center;
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;

    section {
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        nav {
            margin-top: 2em;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 2em;
                font-weight: 600;
                text-transform: uppercase;
            }

            ul {
                display: flex;

                li {
                    list-style: none;
                    text-transform: uppercase;
                    font-size: .9rem;
                    letter-spacing: .1rem;
                    font-weight: 200;

                    a {
                        padding: 1em;
                        color: rgba(255, 255, 255, 0.5);
                        text-decoration: none;
                    }
                    a.home {
                        color: rgb(255, 255, 255);
                    }
                }
            }

            .fixed-nav {
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
                padding: 1em 0;
                border-bottom: 1px solid rgba(70, 72, 74, .5);
                background-color: rgb(255, 255, 255);
                display: flex;
                justify-content: center;
                display: none;
                z-index: 10;

                div {
                    width: 100%;
                    max-width: 1480px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p, a {
                        color: rgb(70, 72, 74);
                    }
                }
            }
        }

        .title {
            text-align: center;
            margin: auto;

            h1 {
                margin-bottom: .2em;
                text-transform: uppercase;
                font-size: 5rem;
                letter-spacing: .2rem;
                font-weight: 500;
            }

            p {
                color: rgba(255, 255, 255, 0.75);
                font-size: 1.25rem;
                font-weight: 200;
                &:nth-child(3) {
                    margin-top: .2em;
                }

                a {
                    color: rgba(255, 255, 255, 0.75);
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        //Destinations
        &:nth-child(1) {
            min-height: 100vh;
        }
        //Contact
        &:nth-child(2) {
            min-height: 75vh;
        }

        h2 {
            margin: 2.5em 0 .5em;
            color: rgb(70, 72, 74);
            font-size: 2.8rem;
            font-weight: 500;
        }

        ul {
            margin-bottom: 1em;
            display: flex;

            li {
                padding: 1em;
                list-style: none;
                color: rgb(105, 107, 110);
                text-transform: uppercase;
                letter-spacing: .1rem;
                font-weight: 300;
                cursor: pointer;
                &:nth-child(1) {
                    color: rgb(232, 186, 45);
                }
            }
        }

        .grid {
            width: 100%;
            height: 100%;
            margin-bottom: 2em;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            article {
                margin: .1em;
                position: relative;
                overflow: hidden;
                &:hover * {
                    transform: scale(1.1);
                }
                &:hover .img-hover {
                    opacity: 1;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all .3s ease;
                }

                .img-hover {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, .5);
                    color: rgb(255, 255, 255);
                    @extend %flex-center;
                    flex-direction: column;
                    transition: all .3s ease;
                    opacity: 0;

                    h3 {
                        font-size: 1.2rem;
                        font-weight: 500;
                    }

                    p {
                        margin: 1em 0 1.5em;
                        font-size: .9rem;
                        font-weight: 200;
                    }

                    a {
                        padding: .5em .7em;
                        border: 1px solid rgb(255, 255, 255);
                        border-radius: 2em;
                        color: rgb(255, 255, 255);
                        font-size: .7rem;
                        text-transform: uppercase;
                        font-weight: 400;
                        letter-spacing: .2rem;
                        text-decoration: none;
                        transition: all 0.3s ease;
                        &:hover {
                            background-color: rgb(255, 255, 255);
                            color: rgb(70, 72, 74);
                        }
                    }
                }
            }
        }

        //Contact
        .contact-container {
            width: 75%;
            display: flex;

            form {
                width: 67%;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;

                h3 {
                    width: 100%;
                    margin-bottom: 0;
                }

                input {
                    width: calc(50% - 1em);
                }
                input:nth-child(2) {
                    margin-right: 2em;
                }

                textarea {
                    width: 100%;
                }

                input, textarea {
                    padding: 1em;
                    border: 1px solid rgb(223, 225, 229);
                    border-radius: .3rem;
                    font-size: .9rem;
                    color: rgb(105, 107, 110);
                    &:focus {
                        border-color: rgb(232, 186, 45);
                        outline: none;
                    }
                }
                
                button {
                    padding: .75rem 1.5rem;
                    border: 1px solid rgb(232, 186, 45);
                    border-radius: 2em;
                    background-color: rgb(232, 186, 45);
                    color: rgb(255, 255, 255);
                    font-size: .9rem;
                    text-transform: uppercase;
                    font-weight: 400;
                    letter-spacing: .2rem;
                    transition: background-color 0.3s ease;
                    &:hover {
                        cursor: pointer;
                        background-color: rgb(213, 165, 35);
                    }
                }
            }

            .contact-info {
                width: 33%;
                display: flex;
                justify-content: center;
            }

            h3 {
                margin: 1em 0;
                color: rgb(70, 72, 74);
                font-size: 2rem;
                font-weight: 500;
            }

            h4 {
                margin: 2em 0 1em;
                color: rgb(70, 72, 74);
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
            }

            p {
                color: rgb(105, 107, 110);
                font-size: .9rem;
                font-weight: 200;

                a {
                    color: rgb(232, 186, 45);
                    text-decoration: none;
                    &:hover {
                        color: rgb(0, 86, 179);
                        text-decoration: underline;
                    }
                }
            }

            ul li {
                width: 1em;
                height: 1em;
                margin: 1em .4em 1em 0em;
                padding: .7em;
                border: .05em solid rgb(223, 225, 229);
                border-radius: 50%;
                color: rgb(105, 107, 110);
                font-size: 1.4em;
                @extend %flex-center;

                span {
                    margin-left: .05em;
                }

                &:hover {
                    color: rgb(232, 186, 45);
                    border-color: rgb(232, 186, 45);
                }
            }
        }

        
    }    
}

footer {
    background-color: rgb(37, 38, 41);
    color: rgb(160, 160, 160);
    display: flex;
    justify-content: center;

    section {
        min-height: 25vh;
    }
}