.new-container {
    width: 75%;
    display: flex;

    .new-info {
        width: 33%;
        padding: .5em 2em;

        img {
            width: 100%;
        }

        h4 {
            margin: 1.5em 0;
            color: rgb(70, 72, 74);
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        p {
            color: rgb(105, 107, 110);
            font-size: .9rem;
            font-weight: 200;
            text-decoration: none;
            text-align: justify;
            & ~ p {
                margin-top: 1em;
            }
        }
    }

    .new-form {
        width: 67%;

        label {
            width: calc(33% - 2em);
            margin-left: 2em;
            display: inline-block;
            text-transform: uppercase;
            font-size: .9rem;
            letter-spacing: .1rem;
            font-weight: 200;
            &:nth-child(9) {
                margin-bottom: .5em;
            }
        }

        input, select {
            width: calc(67% - 4em);
            margin: .5em 2em;
            padding: 1em;
            border: 1px solid rgb(223, 225, 229);
            border-radius: .3rem;
            font-size: .9rem;
            color: rgb(105, 107, 110);
            &:focus {
                border-color: rgb(232, 186, 45);
                outline: none;
            }
        }

        .checkbox-box {
            width: calc(10% - 4em);
            accent-color: rgb(232, 186, 45);
        }
        .checkbox-label {
            width: calc(90% - 2em);
            margin: 1em 0 0;
        }

        button {
            margin-top: 1em;
            margin-left: 2em;
            margin-bottom: 2em;
            padding: .75rem 1.5rem;
            border: 1px solid rgb(232, 186, 45);
            border-radius: 2em;
            background-color: rgb(232, 186, 45);
            color: rgb(255, 255, 255);
            font-size: .9rem;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: .2rem;
            transition: background-color 0.3s ease;
            &:hover {
                cursor: pointer;
                background-color: rgb(213, 165, 35);
            }
        }
    }
}

.show-container {
    width: 75%;
    margin-bottom: 1.5em;
    
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            color: rgb(105, 107, 110);
            font-size: .9em;
            font-weight: 200;
        }
        .head-left p {
            text-transform: uppercase;
            letter-spacing: .1em;
            font-size: 1em;
            font-weight: 300;
        }
        .head-right p {
            text-align: end;
        }

        a, span {
            color: rgb(232, 186, 45);
            text-decoration: none;
            &:hover {
                cursor: pointer;
                color: rgb(0, 86, 179);
                text-decoration: underline;
            }
        }
    }

    .main-img {
        width: 100%;
        margin: 1em 0;
    }

    .author-info {
        width: 25%;
        height: 400px;
        margin-left: 2em;
        margin-bottom: 2em;
        border: 1px solid rgb(223, 225, 229);
        border-radius: .3rem;
        text-align: center;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h4 {
            margin: .5em 0 0;
            color: rgb(70, 72, 74);
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        img {
            width: 50%;
        }
        a {
            color: rgb(70, 72, 74);
            font-weight: 700;
            text-decoration: none;
            &:hover {
                color: rgb(232, 186, 45);
                text-decoration: underline;
            }
        }
        p {
            margin: .5em 0;

            &:nth-child(3) {
                text-transform: uppercase;
                font-weight: 300;
            }
            &:nth-child(4) {
                margin: -.5em;
                color: rgb(105, 107, 110);
                font-size: .9rem;
                font-weight: 200;
            }
        }
        div p {
            color: rgb(70, 72, 74);
        }
    }

    .post-info {

        p {
            margin: .5em 0;
            text-align: justify;
            color: rgb(70, 72, 74);
            &:nth-child(1) {
                text-transform: uppercase;
                font-weight: 300;
            }
        }

        a {
            color: rgb(232, 186, 45);
            text-decoration: none;
            &:hover {
                color: rgb(0, 86, 179);
                text-decoration: underline;
            }
        }

        h3 {
            margin: 2em 0 1em;
            &:nth-child(2) {
                margin-top: 1.5em;
            }
            color: rgb(70, 72, 74);
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 700;
        }

        ul {
            flex-direction: column;
            li {
                all: inherit;
            }
            a {
                display: inline;
            }
        }
    }
    
}

.activities {
    width: calc(75% + 3em);
    color: rgb(70, 72, 74);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    h3 {
        width: calc(100% - 2.5em);
        padding-top: 1em;
        border-top: .05em solid rgb(223, 225, 229);
        margin: auto;
    }

    div {
        width: 25%;
        padding: 1.5em;

        img {
            width: 100%;
        }

        h4 {
            margin: 1em 0 0;
            color: rgb(70, 72, 74);
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        p {
            font-size: .9rem;
            font-weight: 200;
            color: rgb(105, 107, 110);
            &:nth-child(3) {
                margin: .5em 0 1em;
                color: rgb(232, 186, 45);
                font-weight: 400;
                font-style: italic;
            }
        }

    }
}

.comments {
    width: 75%;
    color: rgb(70, 72, 74);
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    
    h3 {
        width: 100%;
        padding-top: 1em;
        border-top: .05em solid rgb(223, 225, 229);
        margin: auto;
    }

    .comments-container {
        width: 100%;
        margin: 1.5em auto;

        .comments-list {
            p {
                margin-bottom: 1em;
                font-size: .5em;
                font-weight: 400;
                border: 1px solid rgb(223, 225, 229);
                border-radius: .3em;
                display: flex;
                align-items: center;
                img {
                    width: 50px;
                }
                span {
                    display: inline-block;
                    &:nth-child(2) {
                        width: 20%;
                        text-transform: uppercase;
                    }
                    &:nth-child(3) {
                        width: 20%;
                    }
                    &:nth-child(4) {
                        width: 60%;
                        margin-left: .5em;

                    }
                    &:nth-child(5) {
                        width: 2.15em;
                        height: 2em;
                        margin: .5em;
                        padding: .25em;
                        background-color: rgb(232, 186, 45);
                        color: rgb(255, 255, 255);
                        border-radius: 50%;
                        @extend %flex-center;
                        transition: background-color 0.3s ease;
                        &:hover {
                            cursor: pointer;
                            background-color: rgb(213, 165, 35);
                        }
                    }
                }
            }
        }

        .comments-error {
            margin-top: 1.5em;
            color: rgb(105, 107, 110);
            font-size: .6em;
            text-transform: uppercase;
        }
        .comments-form {
            margin-top: 1em;
            font-size: .5em;
            font-weight: 400;

            form {
                display: flex;

                input {
                    width: 100%;
                    padding: 1em;
                    border: 1px solid rgb(223, 225, 229);
                    border-radius: .3rem;
                    font-size: .9rem;
                    color: rgb(105, 107, 110);
                    &:focus {
                        border-color: rgb(232, 186, 45);
                        outline: none;
                    }
                }
                
                button {
                    margin-left: 1em;
                    padding: .75rem 1.5rem;
                    border: 1px solid rgb(232, 186, 45);
                    border-radius: 2em;
                    background-color: rgb(232, 186, 45);
                    color: rgb(255, 255, 255);
                    font-size: .9rem;
                    text-transform: uppercase;
                    font-weight: 400;
                    letter-spacing: .2rem;
                    transition: background-color 0.3s ease;
                    &:hover {
                        cursor: pointer;
                        background-color: rgb(213, 165, 35);
                    }
                }
            }
        }
    }
}

.modale {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    @extend %flex-center;
    display: none;
    &.visible {
        display: flex;
    }

    &-container {
        padding: 2em;
        background-color: rgb(255, 255, 255);
        border-radius: 1em;
        color: rgb(70, 72, 74);

        div {
            display: flex;
            justify-content: space-evenly;

            a, p {
                margin-top: 2em;
                padding: .75rem 1.5rem;
                border: 1px solid rgb(232, 186, 45);
                border-radius: 2em;
                background-color: rgb(232, 186, 45);
                color: rgb(255, 255, 255);
                font-size: .9rem;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 400;
                letter-spacing: .2rem;
                transition: background-color 0.3s ease;
                &:hover {
                    cursor: pointer;
                    background-color: rgb(213, 165, 35);
                }
            }
        }
    }
}

//TinyMCE
.new-container .tox {
    width: calc(100% - 3.4em);
    height: 4em;
    margin-left: 1.7em;
    border: 1px solid rgb(223, 225, 229);
    border-radius: .3rem;

    .tox-toolbar-overlord {
        margin-left: 1em;
    }
    .tox-toolbar__group {
        padding: .1em .4em;
    }

    button {
        all:inherit;
    }

    .tox-statusbar__path {
        display: none;
    }
}