<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} - un site réalisé en POO</title>

    <link rel="stylesheet" href="/css/style.css">
    {% block stylesheets %}{% endblock %}

    <script src="https://kit.fontawesome.com/015d178d74.js" crossorigin="anonymous"></script>
    {% block javascript %}{% endblock %}
    <script src="/js/menu.js" defer></script>

</head>
<body>
    {% block header %}
        <header>
            <section>
                <nav>
                    <div class="fixed-nav visible">
                        <div>
                            <p>Destinations</p>
                            <ul>
                                <li><a href="/#header" data-color="dark">Accueil</a></li>
                                <li><a href="/#destinations" data-color="dark">Destinations</a></li>
                                <li><a href="/" data-color="dark">A propos</a></li>
                                <li><a href="/#contact" data-color="dark">Contact</a></li>
                                <a href="/user" class="user-link active active-dark"><span class="user-span"><span class="fa-solid fa-user"></span></span></a>
                            </ul>
                        </div>
                    </div>
                </nav>
            </section>
        </header>
        {% if message != '' %}
            <aside id="messages">{{ message }}</aside>
        {% endif %}
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}
        <footer>
            <section>
                <ul>
                    <li><a href="/#header" class="home">Accueil</a></li>
                    <li><a href="/#destinations">Destinations</a></li>
                    <li><a href="/">A propos</a></li>
                    <li><a href="/#contact">Contact</a></li>
                    <a href="/user" class="user-link"><span class="user-span"><span class="fa-solid fa-user"></span></span></a>
                </ul>
                <div class="divider"></div>
                <div class="container">
                    <p>Inspiré du template <a href="https://medialoot.com/preview/sundown/index.html" target="_blank">Sundown</a> de Bootstrap 4 - Images : <a href="https://www.pexels.com/fr-fr/" target="_blank">Pexels</a></p>
                    <ul>
                        <li><span class="fa-brands fa-facebook-f"></span></li>
                        <li><span class="fa-brands fa-twitter"></span></li>
                        <li><span class="fa-brands fa-instagram"></span></li>
                    </ul>
                </div>
            </section>
        </footer>
    {% endblock %}
</body>
</html>