<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} - un site réalisé en POO</title>

    <link rel="stylesheet" href="/css/style.css">
    {% block stylesheets %}{% endblock %}
    
    <script src="/js/app.js" defer></script>
    <script src="/js/menu.js" defer></script>
    <script src="https://kit.fontawesome.com/015d178d74.js" crossorigin="anonymous"></script>
    {% block javascript %}{% endblock %}

</head>
<body>

    {% block body %}{% endblock %}
    <footer>
        <section>
            <ul>
                <li><a href="#home" class="home">Accueil</a></li>
                <li><a href="#destinations">Destinations</a></li>
                <li><a href="">A propos</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="divider"></div>
            <div class="container">
                <p>Inspiré du template <a href="https://medialoot.com/preview/sundown/index.html" target="_blank">Sundown</a> de Bootstrap 4.</p>
                <ul>
                    <li><span class="fa-brands fa-facebook-f"></span></li>
                    <li><span class="fa-brands fa-twitter"></span></li>
                    <li><span class="fa-brands fa-instagram"></span></li>
                </ul>
            </div>
        </section>
    </footer>
</body>
</html>