{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <main class="visible">
        <section>
            <h2>Destination</h2>
            
        </section>
    </main>
{% endblock %}