{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}
    <main class="visible">
        <section>
            <h2>Page de profil</h2>
            <a href="/user/logout">Se déconnecter</a>
        </section>
    </main>
{% endblock %}