{% extends "base.html.twig" %}

{% block title %}Register{% endblock %}

{% block body %}
    <main class="visible">
        <section>
            <h2>Page de Register</h2>
        </section>
    </main>
{% endblock %}